/*div#ticker_component {
    text-align: center;
}
*/
input.search_ticker {
    text-align: center;
    width: 70%;
}

div.ticker_container {
    background:white;
    box-shadow: 1px 1px 0 lightgrey;
    width: 70%;
    margin: 5px auto 4px auto;
    padding: 1em;
}

.SearchTicker {
    display: flex;
    justify-content: center;
}

span.right {
    float: right;
}

span.left {
    font-weight: bold;
}
